# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data and Models
*.pkl
backend/models/*.pkl

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Mac
.DS_Store

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Node
node_modules/
